* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white;
    display: grid;  
    grid-template-columns: 25% 25% 50%; 
    grid-template-rows: 30% 50% 20%;
}
#top-left-right{
    background-color: white;
    padding: 20px;
}
#square{
    height: 20px;
    width: 20px;
    rotate: 45deg;
    background-color: black;
}
#top-left-left{
    background-color: white;
    padding: 10px;
    justify-self: right;
    text-align: right;
}
#top-left-left h4{
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 200px;
  
}
#top-left-left h5{
    font-size: 15px;
    font-weight: 100px;  
}
#left-center{
    background-color:white ;
    grid-column: 1/3;
    padding: 10px;
}
#left-center h1{
    line-height: 80px;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 500;
}
#left-center h1:nth-child(2n){
    text-align: end;
}
#left-bottom{
  background-color:white;
  grid-column: 1/3;
  padding: 25px;
}
#left-bottom p{
    font-size: 20px;
    width: 80%;
}
#right-part{
    background-color: white;
    grid-column: 3;
    grid-row: 1/4;
    padding: 20px;
}
#right-part video{
    height: 100%;
    width: 100%;

}